<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>SEATV2</display-name>

     <!--  <context-param>
         <param-name>HOST_SGBD</param-name>
         <param-value>noumea</param-value>
 		param-value>robinnw</param-value 
		<description></description>
      </context-param>
      <context-param>
         <param-name>HOST_SGBD_ADMIN</param-name>
         <param-value>***REMOVED***</param-value>
<description></description>
      </context-param>
      <context-param>
         <param-name>HOST_SGBD_PWD</param-name>
         <param-value>***REMOVED***</param-value>
<description></description>
      </context-param>
		<context-param>
         <param-name>STARJET_MODE</param-name>
         <param-value>PROD</param-value>
<description></description>
      </context-param> -->
	<servlet>
		<servlet-name>ServletSeat</servlet-name>
		<display-name>ServletSeat</display-name>
		<description></description>
		<servlet-class>
		nc.mairie.seat.servlet.ServletSeat</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletSeat</servlet-name>
		<url-pattern>/ServletSeat</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Debut.jsp</welcome-file>
	</welcome-file-list>
	<!-- <resource-ref>
		<description></description>
		<res-ref-name>jdbc/noumea</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Application</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref> -->
</web-app>
